
@model JewelleryShop.Views.Home.ProductsViewModel

<div class="Offers">

    @foreach (var item in Model.getProducts())
    {
        <div class="Offers__item">
            <img src="/images/@item.PhotoUrl" />
            <div>@item.Name</div>
            <div>@item.Description</div>
            @if (item.Stock > 5)
            {
                <button>Купи $@item.Price</button>
            }
            else
            {
                <button disabled> Не е налично </button>
            }
        </div>

    }


</div>







<style>
    .Offers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Offers__item {
        background-color: #c89068;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
        width: 150px;
    }


        .Offers__item > img {
            margin: auto;
            height: 100px;
            width: 100px;
        }
</style>