<section id="main">

    <div class="mainBody">
        <div class="wrapper">
            <div class="mainContent full">
                <h1 class="titleMain">Относно Доставки</h1>
                <article class="article ">
                    <div style="text-align: justify;" class="section wrapper text">
                        <h2>История</h2>
                        Една сутрин, когато се събудил от тревожни сънища, той се оказал преобразен в леглото си в ужасен паразит. Лежеше по гръб като броня и ако вдигнеше малко глава, можеше да види кафявия си корем, леко купол и разделен с арки на твърди части. Спалното бельо почти не можеше да го покрие и изглеждаше готово да се изплъзне всеки момент. Многото му крака, жалко тънки в сравнение с размера на останалата част от него, се размахваха безпомощно, докато изглеждаше. — Какво ми се случи? той помисли. Не беше сън. Стаята му, истинска човешка стая, макар и малко твърде малка, лежеше спокойно между четирите си познати стени. Колекция от текстилни образци лежеше разстлана на масата — Самса беше пътуващ търговец — а над нея висеше картина, която наскоро беше изрязал от илюстрирано списание и беше поставен в хубава позлатена рамка. На него се виждаше дама, облечена с кожена шапка и кожена боа, която седеше изправена, вдигайки тежък кожен маншон, който покриваше цялата долна част на ръката й към зрителя. След това Грегор се обърна да погледне през прозореца към мрачното време.
                        <br>
                        <h2>Цели и виждания</h2>
                        Една сутрин, когато се събудил от тревожни сънища, той се оказал преобразен в леглото си в ужасен паразит. Лежеше по гръб като броня и ако вдигнеше малко глава, можеше да види кафявия си корем, леко купол и разделен с арки на твърди части. Спалното бельо почти не можеше да го покрие и изглеждаше готово да се изплъзне всеки момент. Многото му крака, жалко тънки в сравнение с размера на останалата част от него, се размахваха безпомощно, докато изглеждаше. — Какво ми се случи? той помисли. Не беше сън. Стаята му, истинска човешка стая, макар и малко твърде малка, лежеше спокойно между четирите си познати стени. Колекция от текстилни образци лежеше разстлана на масата — Самса беше пътуващ търговец — а над нея висеше картина, която наскоро беше изрязал от илюстрирано списание и беше поставен в хубава позлатена рамка. На него се виждаше дама, облечена с кожена шапка и кожена боа, която седеше изправена, вдигайки тежък кожен маншон, който покриваше цялата долна част на ръката й към зрителя. След това Грегор се обърна да погледне през прозореца към мрачното време.
                        <h2></h2>
                        <h2>Мисия</h2>
                        Една сутрин, когато се събудил от тревожни сънища, той се оказал преобразен в леглото си в ужасен паразит. Лежеше по гръб като броня и ако вдигнеше малко глава, можеше да види кафявия си корем, леко купол и разделен с арки на твърди части. Спалното бельо почти не можеше да го покрие и изглеждаше готово да се изплъзне всеки момент. Многото му крака, жалко тънки в сравнение с размера на останалата част от него, се размахваха безпомощно, докато изглеждаше. — Какво ми се случи? той помисли. Не беше сън. Стаята му, истинска човешка стая, макар и малко твърде малка, лежеше спокойно между четирите си познати стени. Колекция от текстилни образци лежеше разстлана на масата — Самса беше пътуващ търговец — а над нея висеше картина, която наскоро беше изрязал от илюстрирано списание и беше поставен в хубава позлатена рамка. На него се виждаше дама, облечена с кожена шапка и кожена боа, която седеше изправена, вдигайки тежък кожен маншон, който покриваше цялата долна част на ръката й към зрителя. След това Грегор се обърна да погледне през прозореца към мрачното време.
                    </div>


                </article>
            </div>
        </div>
    </div>
</section>