
@{
    ViewData["Title"] = "Welcome to the carrier shop";
}

<h1>Добре дошли в нашия магазин!</h1>

<p>Виж услугите ни: <a href="/Home/Services">ТУК</a></p>
<img src="/images/shipping.jpg" style="width: 100%;" />

