@*@page*@
@model CarrierShop.Views.Home.ServicesModel
@{
}

<div class="Services">
    <div class="Services__service">
        <img src="/images/service1.gif" />
        <div class="Services__service-title">@Model.Find(1).Name</div>
        <div class="Services__service-description">
            => Пет опции за вземане на партката <br />
            => Достъп до повече от 80,000 локации за доставка <br />
            => Доставка до всички държави по света, и то до определен адрес <br />
            => Доставка на на пратки по вода, земя и по възхдух по едно и също време, с цена при вземане на пратката, не на броя на пратките <br />
            => Проактивен, гъвкав съпорт за клиентите <br />
        </div>
        <button class="Services__service-button">Изпрати своята пратка сега!</button>
    </div>


    <div class="Services__service">
        <img src="/images/service2.png" />
        <div class="Services__service-title">@Model.Find(2).Name</div>
        <div class="Services__service-description">
            => Пет опции за вземане на партката <br />
            => Достъп до повече от 80,000 локации за доставка <br />
            => Доставка до всички държави по света, и то до определен адрес <br />
            => Доставка на на пратки по вода, земя и по възхдух по едно и също време, с цена при вземане на пратката, не на броя на пратките <br />
            => Проактивен, гъвкав съпорт за клиентите <br />
        </div>
        <button class="Services__service-button">Изпрати своята пратка сега!</button>
    </div>


    <div class="Services__service">
        <img src="/images/service3.png" />
        <div class="Services__service-title">@Model.Find(3).Name</div>
        <div class="Services__service-description">
            => Пет опции за вземане на партката <br />
            => Достъп до повече от 80,000 локации за доставка <br />
            => Доставка до всички държави по света, и то до определен адрес <br />
            => Доставка на на пратки по вода, земя и по възхдух по едно и също време, с цена при вземане на пратката, не на броя на пратките <br />
            => Проактивен, гъвкав съпорт за клиентите <br />
        </div>
        <button class="Services__service-button">Изпрати своята пратка сега!</button>
    </div>
</div>
