
@{
    ViewData["Title"] = "Магазин добавки";
}

<h1>Добре дошли в нашия магазин!</h1>

<p>Вижте офертите ни : <a href="/Home/Products">ТУК</a></p>
<p>Специални намаления : <a href="/Home/Promotions">ТУК</a></p>
<img src="/images/home.jpg" style="width: 100%;" />

