@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-c">
    <h1 class="display-4">Добре дошли в магазина за обувки</h1>
    @*<img src="/images/home.jpg" />*@
</div>
    <h1 class="display-6 text-center"> Натисни <a href="/Home/Offers">ТУК</a> за да видиш нашите продукти</h1>


<style>
    .bg-c {
        height: 600px;
        background-image: url("./images/home.jpg");
        background-repeat: no-repeat;
    }


</style>