@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4">Добре дошли в магазина за части</h1>
<div class="text-center bg-c">
    @*<img src="/images/home.jpg" />*@
</div>
<h1 class="display-6 text-center"> Натисни <a href="/Home/Parts">ТУК</a> за да видиш нашите части</h1>


<style>
    .bg-c {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        background-image: url("./images/home.jpg");
        background-repeat: no-repeat;
    }
</style>