
@{
    ViewData["Title"] = "News";
}

<h1>Новини</h1>
<article>
    <h5>Новини</h5>
    <section>Една сутрин, когато се събудил от тревожни сънища, той се оказал преобразен в леглото си в ужасен паразит. Лежеше по гръб като броня и ако вдигнеше малко глава, можеше да види кафявия си корем, леко купол и разделен с арки на твърди части. Спалното бельо почти не можеше да го покрие и изглеждаше готово да се изплъзне всеки момент. Многото му крака, жалко тънки в сравнение с размера на останалата част от него, се размахваха безпомощно, докато изглеждаше. — Какво ми се случи? той помисли. Не беше сън. Стаята му, истинска човешка стая, макар и малко твърде малка, лежеше спокойно между четирите си познати стени. Колекция от текстилни образци лежеше разстлана на масата — Самса беше пътуващ търговец — а над нея висеше картина, която наскоро беше изрязал от илюстрирано списание и беше поставен в хубава позлатена рамка. На него се виждаше дама, облечена с кожена шапка и кожена боа, която седеше изправена, вдигайки тежък кожен маншон, който покриваше цялата долна част на ръката й към зрителя. След това Грегор се обърна да погледне през прозореца към мрачното време.</section>
    <hr />
    <h5>Други новини</h5>
    <section>Една сутрин, когато се събудил от тревожни сънища, той се оказал преобразен в леглото си в ужасен паразит. Лежеше по гръб като броня и ако вдигнеше малко глава, можеше да види кафявия си корем, леко купол и разделен с арки на твърди части. Спалното бельо почти не можеше да го покрие и изглеждаше готово да се изплъзне всеки момент. Многото му крака, жалко тънки в сравнение с размера на останалата част от него, се размахваха безпомощно, докато изглеждаше. — Какво ми се случи? той помисли. Не беше сън. Стаята му, истинска човешка стая, макар и малко твърде малка, лежеше спокойно между четирите си познати стени. Колекция от текстилни образци лежеше разстлана на масата — Самса беше пътуващ търговец — а над нея висеше картина, която наскоро беше изрязал от илюстрирано списание и беше поставен в хубава позлатена рамка. На него се виждаше дама, облечена с кожена шапка и кожена боа, която седеше изправена, вдигайки тежък кожен маншон, който покриваше цялата долна част на ръката й към зрителя. След това Грегор се обърна да погледне през прозореца към мрачното време.</section>
    <hr />
    <h5>Нашите колела са супер</h5>
    <section>Вижте колелата ни <a href="/Home/TopOffers">тук</a></section>
</article>

