@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-c">
    <h1 class="display-4">Добре дошли в Имоти</h1>
    <img src="/images/p1.jpg" />
</div>
    <h1 class="display-6 text-center"> Натисни <a href="/Home/Properties">ТУК</a> за да видиш имотите</h1>


<style>



</style>