
@{
    ViewData["Title"] = "Welcome to the bike shop";
}

<h1>Добре дошли в нашия магазин!</h1>

<p>Вижте офертите ни : <a href="/Home/TopOffers">ТУК</a></p>
<img src="/images/bike.jpg" style="width: 100%;"/>

