
@model BikeShop.Views.Home.IndexModel
@{
    ViewData["Title"] = "Welcome to the bike shop";
}

<h1>Welcome to our shop!</h1>

<p>check out out our offers: <a href="/Home/TopOffers">HERE</a></p>
<img src="/images/bike.jpg" style="width: 100%;"/>

