@page
@model BikeShop.Views.Home.IndexModel
@{
    @*ViewData["Title"] = "asss";*@
}
@Html.DisplayFor(model => model.IndexName)
<h1>asdf</h1>

@*https://stackoverflow.com/questions/50785009/how-to-seed-an-admin-user-in-ef-core-2-1-0*@
